@font-face {
    font-family: Acumin Variable Concept;
    src: url("./assets/Acumin-Variable-Concept.ttf");
}

@font-face {
    font-family: Script MT Bold;
    src: url("./assets/SCRIPTBL.TTF");
}

@media screen and (min-width: 850px) {
    /* Page header */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        position: relative;
    }
    
    body {
        background: #606060;
    }

    header {
        outline: 2px;
        width: 1140px;
        height: 833px;
        margin-left: auto;
        margin-right: auto;
    }

    header div.bg-curtain {
        background: rgba(60, 35, 23, 0.6);
        background-repeat : no-repeat;
        color: rgb(250, 247, 240);
    }

    header .bg-img {
        background: linear-gradient(rgba(60, 35, 23, 0.6), rgba(60, 35, 23, 0.6)), url("./assets/Banner.jpg");
        background-size: cover;
        width: 1140px;
        height: 833px;
    }

    nav {
        height: 100px;
        width: 1140px;
        padding-top: 20px;
        overflow: hidden;
    }

    nav ul {
        float: right;
        list-style: none;
        display: flex;
    }

    header a {
        color:rgb(250, 247, 240);
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        text-transform: uppercase;
        font-size: 18px;
    }

    header button.booking {
        background: rgba(60, 35, 23, 1);
        color: rgb(250, 247, 240);
        border: 0px;
        text-transform: uppercase;
    }

    header div.nav-button button {
        float: right;
        margin-right: 30px;
    }

    header button.booking a {
        font-family: Acumin Variable Concept;
        font-weight: 250;
        margin-top: 4px;
        font-size: 15px;
    }

    nav .logo {
        float: left;
        padding-left: 85px;
    }

    nav .logo a {
        inline-size: 150px;
        word-wrap: break-word;
        font-size: 28px;
        text-transform: capitalize;
    }

    header ul a:hover {
        background: rgba(60, 35, 23, 1);
    }

    header div.logo a:hover {
        color: rgba(60, 35, 23, 1);
    }

    header a:visited {
        color: inherit;
    }

    header div.banner-headline,
    header div.banner-content {
        font-size: 40px;
        text-align: left;
        position: absolute;
        top: 240px;
        left: 60px;
    }

    header div.banner-content {
        font-family: Acumin Variable Concept;
        font-size: 22px;
        font-weight: 250;
        top: 340px;
        inline-size: 400px;
        line-height: 28px;
    }

    div.banner-button button {
        position: absolute;
        left: 60px;
        top: 360px;
    }

    button.booking:hover {
        background: rgba(60, 35, 23, 0.65);
    }

    /* Page body */
    main {
        background: rgb(250, 247, 240);
        width: 1140px;
        height: 2816px;
        margin-left: auto;
        margin-right: auto
    }

    main div.decoration {
        margin-left: 10%;
        margin-right: 10%;
    }

    main div.decoration ul{
        display: flex;
        list-style-type: none;
    }

    main div.decoration ul li {
        background-color: #EFEFEF;
        width: 221px;
        height: 196px;
        border: 2px solid rgba(60, 35, 23, 0.6);
        border-radius: 6px;
        margin-left: 12.5px;
        margin-right: 12.5px;
        margin-top: 80px;
    }

    main div.decoration ul li img.icon {
        width: 54px;
        height: 54px;
        position: relative;
        top: 5px;
        left: 10px;
    }

    main div.decoration ul li p.title {
        color:  rgba(60, 35, 23, 1);
        position: relative;
        left: 10px;
        top: 25px;
        font-size: 20px;
    }

    main div.decoration ul li p.content {
        color: black;
        position: relative;
        left: 10px;
        top: 35px;
        font-size: 15px;
        font-family: Acumin Variable Concept;
        font-weight: 530;
        inline-size: 180px;
    }

    main div.about div.split {
        height: 440px;
        width: 40%;
        margin-top: 90px;
        display: inline-block;
    }

    main div.about div.left {
        margin-left: 90px;
    }

    main div.about div.right {
        position: absolute;
        height: 65%;
        top: 50px;
        width: 50%;
        margin-left: 20px;
    }

    main div.about img {
        border-radius: 6px 6px;
        border: 1px solid black;
    }

    main div.about img.large{
        height: 215px;
        width: 215px;
    }

    main div.about img.small {
        height: 150px;
        width: 157px;
    }

    main div.about .col-1 {
        position: absolute;
        right: 240px;
    }

    main div.about .col-2 {
        position: absolute;
        left: 240px;
    }

    main div.about .row-1 {
        position: absolute;
        bottom: 230px;
    }

    main div.about .row-2 {
        position: absolute;
        top: 230px;
    }

    main div.about p.title {
        font-family: Script MT Bold;
        font-size: 33px;
        color:rgba(60, 35, 23, 1);
    }

    main div.about p.headline {
        font-size: 40px;
        margin-top: 5px;
        margin-left: 0px;
    }

    main div.about p.content {
        font-family: Acumin Variable Concept;
        font-size: 20px;
        font-weight: 400;
        margin-top: 50px;
    }

    main div.about div.advertising {
        display: flex;
        position: absolute;
        bottom: 0px;
    }

    main div.about div.advertising div {
        height: 65px;
        display: flex;
        font-family: Acumin Variable Concept;
        font-weight: 550;
    }

    main div.about div.advertising p.number {
        font-family: Acumin Variable Concept;
        font-weight: 550;
        font-size: 60px;
        color: rgba(60, 35, 23, 1);
        padding-left: 10px;
        border-left: 5px solid rgba(60, 35, 23, 1);
    }

    .right .advertising .text {
        margin-top: 10px;
        margin-left: 10px;
        inline-size: 200px;
        display: inline-block;
    }

    .right .advertising .firstline {
        font-family: Acumin Variable Concept;
    }

    .right .advertising .nextline {
        color: rgba(60, 35, 23, 1);
    }

    main div.food-menu,
    main div.team,
    main div.feedback {
        margin-top: 120px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    main div.food-menu p.title,
    main div.team p.title,
    main div.feedback p.title {
        text-align: center;
        font-family: Script MT Bold;
        font-size: 33px;
        color: rgba(60, 35, 23, 1);
    }

    main div.food-menu p.headline,
    main div.team p.headline,
    main div.feedback p.headline {
        text-align: center;
        margin-top: 5px;
        font-size: 35px;
    }

    main div.food-menu table.menu {
        margin-top: 90px;
        width: 100%;
    }

    main div.food-menu table.menu td {
        width: 35%;
        padding: 15px 0px 15px 20px;
    }

    main div.food-menu table.menu td img {
        height: 138px;
        width: 138px;
        border-radius: 6px 6px;
        border: 1px solid black;
    }

    main div.food-menu table.menu td p {
        margin: 10px auto 10px 18px;
    }

    main div.food-menu table.menu td hr {
        width: 90%;
        margin-left: 18px;
        margin-right: auto;
        border: 1px solid black;
    }

    main div.food-menu table.menu td div.content a{
        display: flex;
        color: black;
        text-decoration: none;
    }


    main div.food-menu table.menu td div.text {
        width: 70%;
        margin-top: 20px;
        margin-bottom: auto;
    }

    main div.food-menu table.menu td p.name {
        height: 20px;
        font-size: 22px;
        color:rgba(60, 35, 23, 1);
    }

    main div.food-menu table.menu td p.ingredient {
        width: 90%;
        height: 50px;
        font-family: Acumin Variable Concept;
        font-size: 16px;
    }

    main div.team ul {
        margin-top: 50px;
        display: flex;
        list-style: none;
    }

    main div.team ul li.team-member {
        border: 1px solid black;
        border-radius: 10px 10px;
        margin-left: 28.5px;
        width: 221px;
        height: 257px;
    }

    main div.team .member-1 {
        background-image: url("./assets/team-1.png");
    }

    main div.team .member-2 {
        background-image: url("./assets/team-2.png");
    }

    main div.team ul .member-3 {
        background-image: url("./assets/team-3.png");
    }

    main div.team ul .member-4 {
        background-image: url("./assets/team-4.png");
    }

    main div.team ul li.team-member div.content {
        background-color: rgba(60, 35, 23, 0.8);
        border-radius: 0px 0px 10px 10px;
        height: 45px;
        width: 220px;
        position: absolute;
        bottom: 0px;
    }

    main div.team ul li.team-member div.content p {
        margin-top: 5px;
        color:rgb(250, 247, 240);
        text-align: center;
    }

    main div.team ul li.team-member div.content p.name {
        font-size: 16px;
    }

    main div.team ul li.team-member div.content p.position {
        margin-top: 4px;
        font-family: Acumin Variable Concept;
        font-size: 13px;
        font-weight: 150;
    }

    main div.feedback ul {
        margin-top: 50px;
        display: flex;
        list-style: none;
    }

    main div.feedback ul li {
        background: #FFF;
        width: 304px;
        height: 200px;
        border: 1px solid black;
        border-radius: 6px 6px;
        margin-left: 28px;
    }

    main div.feedback ul li img.icon {
        width: 27px;
        height: 27px;
        position: absolute;
        top: 17px;
        left: 17px;
    }

    main div.feedback ul li p {
        font-family: Acumin Variable Concept;
        font-size: 15px;
        font-weight: 550;
    }

    main div.feedback ul li p.review {
        width: 250px;
        position: absolute;
        top: 60px;
        left: 17px;
    }

    main div.feedback ul li div.person {
        display: flex;
        position: absolute;
        bottom: 14px;
        left: 17px;
    }

    main div.feedback ul li div.person img.profile-pic {
        width: 45px;
        height: 45px;
    }

    main div.feedback ul li div.person p.name {
        margin-top: 14px;
        margin-left: 14px;
    }

    /* Page footer */
    footer{
        background: rgba(60, 35, 23, 1);
        width: 1140px;
        height: 270px;
        margin-left: auto;
        margin-right: auto;
        color:rgb(250, 247, 240);
    }

    ul.redirect {
        list-style: none;
        display: flex;
    }

    ul li.link {
        margin-top: 36px;
        margin-left: 72px;
        width: 170px;
    }

    ul li.link div.title {
        display: flex;
        font-size: 20px;
    }

    ul.redirect li.link div.title hr {
        position: absolute;
        top: 12px;
        right: 0px;
        width: 25%;
    }

    li.link div.sub-link a{
        text-decoration: none;
    }

    li.link div.sub-link pre {
        font-family: Acumin Variable Concept;
        color:rgb(250, 247, 240);
        font-size: 13px;
        margin-top: 20px;
    }

    li.link div.sub-link ul li {
        display: flex;
    }

    li.link div.sub-link ul li img{
        width: 16px;
        height: 16px;
        position: relative;
        top: 20px;
        margin-right: 10px;
    }

    li.link div.email-signup p {
        font-family: Acumin Variable Concept;
        font-size: 13px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    li.link div.email-signup form {
        width: 209px;
        height: 35px;
        display: flex;
        border: 1px solid rgb(250, 247, 240);
        background: #fff;
    }

    li.link div.email-signup form button {
        font-family: Acumin Variable Concept;
        font-size: 13px;
        color:rgb(250, 247, 240);
        background: rgba(60, 35, 23, 1);
        border: 0px;
        text-align: center;
        text-transform: uppercase;
        padding: 2px 10px 0px 10px;
    }

    li.link div.email-signup form button:hover {
        background:rgba(60, 35, 23, 0.65);
    }
}



/* Responsive Display */
@media screen and (min-width: 400px) and (max-width: 850px) {    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    header {
        max-width: 100vw;
    }
    
    .bg-curtain {
        background: rgba(60, 35, 23, 0.6);
    }
    
    .bg-img {
        height: 30vh;
        max-width: 100vw;
        background: linear-gradient(rgba(60, 35, 23, 0.6), rgba(60, 35, 23, 0.6)), url("../css/assets/Banner.jpg");
        background-size: cover;
    }

    nav {
        width: 100%;
        display: flex;
    }

    nav button {
        display: none;
    }

    header a {
        color: rgb(250, 247, 240);
        text-decoration: none;
        font-size: 0.7rem;
    }

    header a:visited {
        color: rgb(250, 247, 240);
    }

    .logo {
        inline-size: 10vw;
        margin: 2vh 2vh;
    }

    .logo a {
        font-size: 1rem;
    }

    nav ul {
        position: absolute;
        top: 2vh;
        right: 1vh;
        display: flex;
        list-style: none;
        gap: 10px;
        justify-content: flex-end;
    }

    button {
        margin-left: 2vh;
        background: rgba(60, 35, 23, 1);
        border: none;
        min-width: fit-content;
        width: 25vw;
        min-height: fit-content;
        height: 4vh;
    }

    header button a {
        font-family: Acumin Variale Concept;
        font-size: 0.7rem;
        text-transform: uppercase;
    }

    .banner-headline {
        margin-left: 2vh;
        font-family: Acumin Variale Concept;
        color: rgb(250, 247, 240);
    }

    .banner-content {
        margin: 1vh 2vh;
        font-family: Acumin Variale Concept;
        color: rgb(250, 247, 240);
        font-size: 0.7rem;
    }

    main {
        max-width: 100vw;
        padding-bottom: 2vh;
        background: rgb(250, 247, 240);
    }

    .decoration {
        padding-top: 5vh;
    }

    .about,
    .food-menu,
    .team,
    .feedback {
        margin-top: 5vh;
    }

    .decoration ul {
        display: flex;
        list-style: none;
        gap: 3vw;
        justify-content: center;
        align-items: center;
        align-content: space-around;
    }

    .decoration ul li {
        width: 22vw;
        min-height: 15vh;
        max-height: 30vh;
        background: rgba(239, 239, 239, 0.6);
        border: 2px solid rgba(60, 35, 23, 0.6);
        border-radius: 2vw 2vw;
    }

    .decoration ul li img,
    .decoration ul li p {
        margin: 1vw 1vw;
    }

    .decoration ul li img {
        width: 20px;
        height: 20px;
    }

    .decoration ul li p {
        inline-size: 18vw;
        font-size: 0.9rem;
        margin-right: 5vw;
    }

    .decoration ul li .title {
        color:rgba(60, 35, 23, 1);
    }

    .decoration ul li p.content {
        font-family: Acumin Variable Concept;
    }

    .about {
        display: flex;
        flex-direction: column-reverse;
    }

    .left {
        display: flex;
        gap: 4vw;
        justify-content: center;
        margin-top: 2vh;
    }

    .left img {
        max-width: 20vw;
        max-height: 20vh;
    }

    .right p {
        margin-left: 2vh;
    }

    .right .title,
    .food-menu .title,
    .team .title,
    .feedback .title {
        color: rgba(60, 35, 23, 1);
        font-family: Script MT Bold;
        font-size: 1.5rem;
        text-align: center;
    }

    .right .headline {
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .right .content {
        font-family: Acumin Variable Concept;
        font-size: 1rem;
        margin-bottom: 2vh;
    }

    .right .advertising,
    .right div {
        display: flex;
        gap: 0;
    }

    .right .number {
        margin-left: 1vw;
        padding-left: 1vw;
        font-size: 1.5rem;
        color: rgba(60, 35, 23, 1);
        border-left: 2px solid rgba(60, 35, 23, 1);
    }

    .right .advertising div {
        margin-left: 2vw;
        margin-right: 3vw;
        font-size: 0.7rem;
    }

    .right .advertising .text {
        margin-left: 0;
        display: inline-block;
    }

    .right .advertising .text p {
        margin-left: 1vw;
    }

    .food-menu .headline,
    .team .headline,
    .feedback .headline {
        text-align: center;
        margin-top: 1vh;
        font-size: 1.2rem;
    }

    .menu {
        margin-top: 2vh;
        margin-left: auto;
        margin-right: auto; 
    }

    .menu .content {
        padding-left: 2vh;
    }

    .menu img {
        max-width: 30vw;
        max-height: 30vw;
    }

    .menu a {
        text-decoration: none;
    }

    .menu td {
        padding-top: 1vh;
        padding-bottom: 2vh;
    }

    .menu .content p {
        font-size: 1rem;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .menu hr {
        
        border: 1px solid black;
        width: 80%;
    }

    .menu .name {
        
        left: 5vw;
        font-size: 1.2rem;
        color:rgba(60, 35, 23, 1);
    }

    .menu .ingredient {
        
        font-family: Acumin Variable Concept;
        font-size: 1rem;
        color: #000;
    }

    .team ul {
        display: block;
        list-style: none;
    }

    .team ul li {
        background: #000;
        position: relative;
        width: 25vh;
        height: 25vh;
        margin-top: 2vh;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1vw 1vw;
    }

    .team .content {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(60, 35, 23, 0.8);
        text-align: center;
    }

    .team .content p {
        color:rgb(250, 247, 240);
    }

    .team .content .position {
        font-family: Acumin Variable Concept;
    }

    .team ul li:nth-child(1) {
        background-image: url("../css/assets/team-1.png");
        background-size: cover;
    }

    .team ul li:nth-child(2) {
        background-image: url("../css/assets/team-2.png");
        background-size: cover;
    }
    .team ul li:nth-child(3) {
        background-image: url("../css/assets/team-3.png");
        background-size: cover;
    }

    .team ul li:nth-child(4) {
        background-image: url("../css/assets/team-4.png");
        background-size: cover;
    }

    .feedback ul li {
        margin: 1vh 1vh 0 1vh;
        padding: 1vh 1vh;
        border: 1px solid black;
        border-radius: 1vw 1vw;
    }

    .feedback ul li img {
        width: 7vw;
        height: 7vw;
        margin-right: 1vh;
    }

    .feedback ul li .review {
        font-family: Acumin Variable Concept;
        font-size: 1rem;
    }

    .feedback ul li .person {
        display: flex;
        margin-top: 1vh;
    }

    footer {
        background: rgba(60, 35, 23, 1);
    }

    footer a {
        text-decoration: none;
    }

    footer ul img {
        width: 5vw;
        height: 5vw;
    }

    footer ul .link {
        padding: 1vh 1vh;
    }

    footer ul hr {
        margin-top: 1vh;
        margin-bottom: 1vh;
        width: 100;
    }

    footer ul li .title {
        color: rgb(250, 247, 240);
    }

    footer ul li pre{
        color:rgb(250, 247, 240);
        font-family: Acumin Variable Concept;
        font-size: 0.7rem;
    }

    footer ul .link .icon-text li {
        display: flex;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    footer ul .link .icon-text li img {
        margin-right: 1vh;
    }

    .email-signup p{
        margin-bottom: 1vh;
        color:rgb(250, 247, 240);
        font-family: Acumin Variable Concept;
        font-size: 0.7rem;
    }

    footer form {
        display: flex;
    }

    form input {
        width: 40%;
        font-family: Acumin Variable Concept;
        font-size: 1.2rem;
    }

    form button {
        width: 15%;
        border: 1px solid white;
        text-transform: uppercase;
        color:rgb(250, 247, 240);
        font-family: Acumin Variable Concept;
        font-size: 1rem;
    }
}