div.date-selection {
    display: flex;
    border-top: 2px solid rgba(60, 35, 23, 0.6);
    border-bottom: 2px solid rgba(60, 35, 23, 0.6);
}

div.from, 
div.to {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
}

div.from p, 
div.to p {
    font-family: Acumin Variable Concept;
    font-family: 18px;
    margin-top: 5px;
    margin-right: 15px;
}

div.to p {
    margin-left: 20px;
}

div.date-selection input {
    height: 30px;
    font-family: Acumin Variable Concept;
    font-family: 18px;
    margin-top: 0px;
}

div.date-selection button {
    margin-left: 20px;
    margin-top: 15px;
    height: 30px;
    width: 75px;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(250, 247, 240);
    background: rgba(60, 35, 23, 1);
    border: none;
}

div.date-selection button:hover {
    background: rgba(60, 35, 23, 0.6);
}

div.summary, div.statistics {
    display: flex;
    margin-top: 10px;
}

div.statistics {
    width: 160px;
    height: 45px;
    background: rgba(227, 227, 227, 0.7);
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 6px 6px;
    display: flex;
}

div.statistics:last-child {
    width: 200px;
}

div.statistics div {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 18px;
}

div.statistics p {
    margin-top: 12px;
    margin-left: 20px;
    font-family: Acumin Variable Concept;
    font-size: 18px;
}

main canvas {
    margin-top: 50px;
}
