@font-face {
    font-family: Acumin Variable Concept;
    src: url("./assets/Acumin-Variable-Concept.ttf");
}

@font-face {
    font-family: Script MT Bold;
    src: url("./assets/SCRIPTBL.TTF");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
}

body {
    background: #606060;
}

a:visited {
    color: inherit;
}

/* Page header */
header {
    width: 1140px;
    height: 366px;
    margin-left: auto;
    margin-right: auto;
}

header a {
    color:rgb(250, 247, 240);
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 18px;
}

.bg-curtain {
    background: rgba(60, 35, 23, 0.6);
    background-repeat : no-repeat;
    color: rgb(250, 247, 240);
}

.bg-img {
    background: linear-gradient(rgba(60, 35, 23, 0.6), rgba(60, 35, 23, 0.6)), url("./assets/Banner.jpg");
    background-size: cover;
    width: 1140px;
    height: 366px;
}

nav {
    height: 100px;
    width: 1140px;
    padding-top: 20px;
    overflow: hidden;
}

nav .logo {
    float: left;
    margin-left: 90px;
}

nav .logo a {
    inline-size: 150px;
    word-wrap: break-word;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 26px;
}

div.logo a:hover {
    color: rgba(60, 35, 23, 1);
}

button.booking {
    background: rgba(60, 35, 23, 1);
    color: rgb(250, 247, 240);
    border: 0px;
    text-transform: uppercase;
    float: right;
    margin-right: 30px;
    margin-left: 15px;
}

button.booking a {
    font-family: Acumin Variable Concept;
    font-weight: 250;
    margin-top: 4px;
    font-size: 15px;
}

button.booking:hover {
    background: rgba(60, 35, 23, 0.65);
}

nav ul {
    float: right;
    list-style: none;
    display: flex;
}

nav ul a:hover {
    background: rgba(60, 35, 23, 1);
}

div.banner-headline{
    font-size: 40px;
    line-height: 18px;
    text-align: center;
    margin-top: 90px;
}

div.banner-content {
    font-family: Acumin Variable Concept;
    font-size: 18px;
    line-height: 18px;
    font-weight: 250;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

/* Page main */
main {
    width: 1140px;
    height: 433px;
    background: rgb(250, 247, 240);
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

div.left, div.right {
    width: 50%;
}

div.right {
    border-left: 2px solid rgba(60, 35, 23, 0.6);
    padding-top: 10px;
    padding-left: 20px;
}

div.right p {
    margin-top: 5px;
}

div.right p.title {
    font-family: Script MT Bold;
    color: rgba(60, 35, 23, 1);
    font-size: 22px;
}

div.right p.headline {
    text-transform: uppercase;
    font-size: 30px;
}

div.right input.short,
div.right input.long {
    height: 40px;
    font-family: Acumin Variable Concept;
    font-size: 15px;
    margin-top: 15px;
    margin-right: 20px;
}

div.right input.short {
    width: 239px;
}

div.right input.long {
    width: 500px;
}

div.right textarea {
    width: 500px;
    height: 140px;
    margin-top: 15px;
    font-family: Acumin Variable Concept;
    font-size: 15px;
}

div.right button {
    width: 500px;
    height: 45px;
    margin-top: 15px;
    background: rgba(60, 35, 23, 1);
    color: rgb(250, 247, 240);
    font-family: Acumin Variable Concept;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    padding-top: 4px;
}

div.right button:hover {
    background: rgba(60, 35, 23, 0.6);
}

/* Page footer */
footer{
    background: rgba(60, 35, 23, 1);
    width: 1140px;
    height: 270px;
    margin-left: auto;
    margin-right: auto;
    color:rgb(250, 247, 240);
}

ul.redirect {
    list-style: none;
    display: flex;
}

ul li.link {
    margin-top: 36px;
    margin-left: 72px;
    width: 170px;
}

ul li.link div.title {
    display: flex;
    font-size: 20px;
}

ul.redirect li.link div.title hr {
    position: absolute;
    top: 12px;
    right: 0px;
    width: 25%;
}

li.link div.sub-link a{
    text-decoration: none;
}

li.link div.sub-link pre {
    font-family: Acumin Variable Concept;
    color:rgb(250, 247, 240);
    font-size: 13px;
    margin-top: 20px;
}

li.link div.sub-link ul li {
    display: flex;
}

li.link div.sub-link ul li img{
    width: 16px;
    height: 16px;
    position: relative;
    top: 20px;
    margin-right: 10px;
}

li.link div.email-signup p {
    font-family: Acumin Variable Concept;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 5px;
}

li.link div.email-signup form {
    width: 209px;
    height: 35px;
    display: flex;
    border: 1px solid rgb(250, 247, 240);
    background: #fff;
}

li.link div.email-signup form button {
    font-family: Acumin Variable Concept;
    font-size: 13px;
    color:rgb(250, 247, 240);
    background: rgba(60, 35, 23, 1);
    border: 0px;
    text-align: center;
    text-transform: uppercase;
    padding: 2px 10px 0px 10px;
}

li.link div.email-signup form button:hover {
    background:rgba(60, 35, 23, 0.65);
}